.tabsContainer {
  margin-left: 64px;
  margin-bottom: 44px;
}

.tabHeaders {
  display: flex;
  gap: 20px;
}

.tabHeaders button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.tabHeaders .active {
  border-bottom: 2px solid red;
}

.tabContent {
  padding-top: 20px;
}

.tabButton {
  padding: 10px 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.tabButton:hover {
  color: #333;
}

.tabButton.active {
  color: #111;
  font-weight: bold;
  border-bottom: 2px solid red; /* Красная линия под активной вкладкой */
}

.tabContent {
  padding: 20px 0;
  font-size: 14px;
}
