.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-left: 57px;
  padding-right: 57px;
  width: 641px;
  height: 588px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  color: #333;
  text-align: left;
}

.textUnderTitle {
  color: #6c717b;
  margin-bottom: 24px;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formField,
.formFieldDate {
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  width: 527px;
  height: 60px;
  color: #6c717b;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.formField:focus,
.formFieldDate:focus {
  border: none;
  outline: none;
}

.formFieldDate {
  font-family: inherit;
}

.Btn {
  display: flex;
  justify-content: center;
}

.sendBtn {
  border: none;
  background-color: #e44848;
  color: #fff;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin-top: 24px;
}

.sendBtn:hover {
  background-color: #d43e3e;
}

textarea.formField {
  resize: none;
  height: 100px;
}

.errorMessage {
  color: #ff3b3f;
}
