CustomDatePicker.module.css .datePicker {
  border: 1px solid #e1e1e1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.datePickerHeader {
  background-color: #fff;
  border-bottom: none;
}

.datePickerDaySelected,
.datePickerDayKeyboardSelected {
  background-color: #3a86ff;
  color: white;
}

.datePickerDayHover {
  background-color: #e0e0e0;
}

.datePickerCurrentMonth {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.datePickerDayName {
  font-weight: bold;
  color: #999;
}

.datePickerDay {
  color: #333;
}

.datePickerDayDisabled {
  color: #d3d3d3;
}

.datePickerNavigationPrevious,
.datePickerNavigationNext {
  top: 10px;
}

.datePickerNavigationIcon::before {
  border-color: #333;
}
