.filtersSection {
  width: 360px;
  margin-left: 64px;
}

.locationTitle {
  color: #6c717b;
}

.filtersTitle {
  color: #475467;
}

.filterCategory {
  width: 360px;
  height: 272px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.filterEquipmentOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 24px;
  border-top: 1px solid #e0e0e0;
}

.filterVehicle {
  margin-bottom: 24px;
}

.filterVehicleType {
  width: 360px;
  height: 168px;
  margin-bottom: 40px;
}

.vehicleTypeOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 24px;
  border-top: 1px solid #e0e0e0;
}
.wrapperIconInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 56px;
}

.locationInput {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 18px 125px 18px 40px;

  background-color: #f7f7f7;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: grey;
  transition: fill 0.3s ease;
}

.wrapperIconInput:focus-within .icon {
  fill: black;
}

.filterButton {
  border: 1px solid #7c787865;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  transition: border-color 0.3s ease;
  color: black;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-align: center;
}

.filterButton svg {
  stroke: black;
}

.filterButton.active {
  border-color: red;
}

.icons {
  stroke: #101828;
}

.searchButton {
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.searchButton:hover {
  background-color: #d84343;
}

h3 {
  margin-bottom: 24px;
}
